<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<time type="FastUTC" />
	<targets async="true">
		<target name="dataLogger" xsi:type="File"
		        fileName="${basedir}/logs/log-${shortdate}.log"
		        header="Date|Time|Level|Message"
		        layout="${date:format=yyyy-MM-dd}|${date:format=HH\:mm\:ss}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
		<target name="console" xsi:type="ColoredConsole"
		        layout="[${longdate}] [${uppercase:${level}}] [${logger:shortName=true}] ${message} ${exception:format=tostring}" />

	</targets>

	<rules>
		<logger name="Homework.Enverus.*" minlevel="Trace" maxlevel="Error"  writeTo="console,dataLogger" />
	</rules>
</nlog>